/* Variaveis */
:root {
    --cor-secundaria: rgb(0, 184, 55);
    --cor-link-hover: rgb(255, 234, 0);
}

.info {
    text-align: center;
    padding: 5px;
    align-items: center;
}

.info h3 {
    color: rgb(0, 184, 55);
}

.info p span {
    color: rgb(255, 72, 0);
}


/* Tela de cadatro */
.form-container {
    padding: 10px;
    align-items: center;

}

/* Menu */
.separador {
    background-color: var(--cor-secundaria);
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--cor-secundaria);
    padding: 10px;
}

.menu-container .item-menu {
    width: 20%;
    border: 1px solid var(--cor-secundaria);
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    margin: 5px;
}

.menu-container .item-menu a {

    color: var(--cor-secundaria);
    text-decoration: none;

}

.menu-container .item-menu:hover {

    border-color: var(--cor-link-hover);

}

.menu-container .item-menu:hover a {

    color: var(--cor-link-hover);

}